/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.theme-dark:root {
  --accent-color: #ff0070;
  --title-color: #DB00FF;
  --font-color: #F1B2CE;
  --font-size: 18px;
  --font-family: IBM Plex Mono, monospace;
  --background-color: #000028;
  --color-btn: #FF0070;
  --decorative-element: #FF0070;
  --header-shadow: #FF0070;
  --list-title: #000028;
  --common-heading: #FF0070;
  --rec-visibility: visibility;
}

.page.theme_dark {
  font-family: var(--font-family);
  background-image: url(../images/cover-image-dark.png);
  background-color: var(--background-color);
}
