/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_light {
  --accent-color: #ff8dcb;
  --title-color: #FFC2E6;
  --font-color: #353430;
  --font-size: 18px;
  --font-family: IBM Plex Mono, monospace;
  --background-color: #FFF1F7;
  --color-btn: #353430;
  --decorative-element: #353430;
  --header-shadow: #FF0070;
  --list-title: #353430;
  --common-heading: #353430;
  --rec-visibility: hidden;
}

.page.theme_light {
  font-family: var(--font-family);
  background-image: url(../images/cover-image-light.png);
  background-color: var(--background-color);
}
