/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.example::-webkit-scrollbar {
  display: none;
}

.example {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --font-color: #f1b2ce;
  --font-size: 18px;
  --font-family: IBM Plex Mono, monospace;
  --background-color: #000028;
  --color-btn: #ff0070;
  --decorative-element: #ff0070;
  --header-shadow: #ff0070;
  --list-title: #000028;
  --common-heading: #ff0070;
  --rec-visibility: visibility;
}

.page {
  font-family: var(--font-family);
  background-image: url(../images/cover-image-dark.png);
  background-position: top;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color);
}

.rec {
  position: relative;
  top: 32px;
  align-items: end;
  right: 10px;
  display: flex;
  color: var(--decorative-element);
  font-size: 24px;
}

.rec::before {
  content: "rec";
  visibility: var(--rec-visibility);
  font-family: inherit;
  text-transform: uppercase;
  font-size: 18px;
  position: absolute;
  right: 38px;
  top: 0;
  transform: translateY(-50%);
}

.rec::after {
  content: "";
  visibility: var(--rec-visibility);
  position: absolute;
  right: 17px;
  top: 0;
  width: 9px;
  height: 9px;
  background-color: var(--decorative-element);
  box-shadow: 1px 0 6px 4px var(--decorative-element);
  border-radius: 50%;
  transform: translateY(-50%);
}

.site-heading {
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-family: var(--font-family);
  font-size: 157px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.85;
}

.title-decor {
  display: flex;
  color: var(--list-title);
  background-color: var(--accent-color);
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: 400;
}

.header {
  padding-block-start: 20px;
  display: flex;
  position: relative;
  min-height: 100vh;
  margin-bottom: 60px;
  flex-direction: column;
}

.header::before {
  content: "";
  border-right: 1px solid var(--decorative-element);
  border-top: 1px solid var(--decorative-element);
  width: 25px;
  height: 25px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.header::after {
  content: "";
  border-left: 1px solid var(--decorative-element);
  border-bottom: 1px solid var(--decorative-element);
  width: 25px;
  height: 25px;
  position: absolute;
  left: 20px;
  bottom: 0; /*когда указываю значение, он катается, а без - немного встает не по макету*/
}

.header__title {
  display: grid;
  align-items: center;
  margin-top: 275px;
}

.header__theme-menu-item {
  list-style-type: none;
}

.header__text {
  position: relative;
  margin-left: auto;
  width: calc(50% - 20px);
  margin-top: 112px;
  margin-right: 20px;
  font-weight: 700;
}

.header__theme-menu-button {
  border: none;
  background-color: transparent;
  color: var(--color-btn);
  text-align: center;
  font-family: inherit;
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding: 3px 13px;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--color-btn);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--color-btn);
}

.header__theme-menu-button:active {
  outline: 1px solid var(--color-btn);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--color-btn);
}

.main__link {
  text-decoration: none;
  color: var(--font-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  cursor: pointer;
}

.main__link:hover {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--font-color);
}

.main__link:focus-visible {
  outline: 1px solid var(--font-color);
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.text__content {
  color: var(--font-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
}

.common-heading {
  color: var(--common-heading);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  width: 34%;
}

.main__sections {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 80px;
  margin: 20px;
}

.text__section {
  display: flex;
  gap: 30px;
}

.section__list {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 72%;
}

.section__list-item {
  display: flex;
  flex-direction: column;
  gap: 11px;
  text-align: start;
}

.attention__section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.attention__section-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.section__list-item-row {
  flex: 1 1 calc(33.33% - 10px);
  box-sizing: border-box;
}

.image__section {
  display: grid;
  gap: 17px;
  background-color: var(--background-color);
  margin-bottom: 40px;
}

.bold__text {
  font-size: 18px;
  font-weight: 700;
  color: var(--list-title);
}

.how__section-list {
  display: flex;
}

.section-how {
  width: 34%;
  flex-shrink: 0;
}

.section__list_item-how {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.how__section-content {
  gap: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.section__list-how {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.img__gallery {
  display: grid;
  gap: 19.76px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

.img__gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.img__gallery img:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 1;
}

.img__gallery img:nth-child(2) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.img__gallery img:nth-child(3) {
  grid-column: 1 / 1;
  grid-row: 2 / 4;
}

.img__gallery img:nth-child(4) {
  grid-column: 2 / 4;
  grid-row: 3 / 3;
}

.footer {
  position: relative;
  display: grid;
  min-height: 100vh;
  align-items: center;
  justify-items: center;
}

.footer::before {
  content: "";
  border-left: 1px solid var(--decorative-element);
  border-bottom: 1px solid var(--decorative-element);
  width: 25px;
  height: 25px;
  position: absolute;
  left: 20px;
  bottom: 16px;
}

.footer::after {
  content: "";
  border-right: 1px solid var(--decorative-element);
  border-top: 1px solid var(--decorative-element);
  width: 25px;
  height: 25px;
  position: absolute;
  right: 20px;
  top: 24px;
}

@media (max-width: 768px) {
  .header {
    margin-bottom: 80px;
    min-height: calc(100vh - 20px);
  }

  .header::after {
    left: 20px;
    bottom: 0;
  }

  .header::before {
    right: 20px;
    top: 20px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-top: 173px;
    align-items: flex-end;
    padding-right: 20px;
  }

  .header__title {
    margin-top: 176px;
  }

  .site-heading {
    font-size: 120px;
  }

  .header__theme-menu-button {
    font-size: 18px;
  }

  .header__text {
    margin-top: 160px;
  }

  .attention__section-list {
    display: flex;
    flex-direction: column;
  }

  .common-heading {
    width: 32%;
  }

  .section-how {
    width: 35%;
  }

  .section__list {
    width: 67%;
  }
}

/*@media (min-width: 375px) and (max-width: 767px) {
  .rec::after {
    top: 13px;
    right: 10px;
  }

  .rec::before {
    right: 29px;
    top: 12px;
  }
  .header {
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
  }

  .header__theme-menu-list {
    margin-top: 55px;
    gap: 12px;
    align-items: end;
    margin-right: -19px;
  }

  .header__theme-menu {
    padding: 0;
  }

  .header::after {
    left: 10px;
    bottom: 0;
  }

  .header::before {
    right: 10px;
    top: -10px;
  }

  .site-heading {
    font-size: 116px;
  }

  .header__title {
    margin-top: 65px;
  }

  .header__text {
    margin-top: 52px;
    width: 97%;
    margin-left: 4px;
  }

  .main__sections {
    margin: 0;
    gap: 50px;
    padding: 10px;
  }

  .section__list-item {
    gap: 10px;
  }

  .how__section-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .how__section-content {
    gap: 19px;
  }

  .text__section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .attention__section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .common-heading {
    width: 100%;
  }

  .section__list {
    width: 100%;
  }

  .attention__section.text__content {
    width: 100%;
  }

  .text__content {
    width: 100%;
  }

  .title-decor {
    line-height: 23.6px;
    margin-left: 1px;
    width: 100%;
  }

  .img__gallery {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 9px;
  }

  .img__gallery img:nth-child(4) {
    order: 2;
  }

  .img__gallery img:nth-child(5) {
    order: 1;
  }

  .image__section {
    gap: 10px;
  }

  .footer__title {
    margin-top: -3%;
  }

  .footer::after {
    right: 10px;
    top: 3px;
  }

  .footer::before {
    left: 10px;
    bottom: 18px;
  }
}*/

@media screen and (max-width: 500px) {
  .page {
    padding: 10px;
  }

  .rec {
    top: 12px;
    right: -9px;
  }

  .header::before {
    right: 0;
    top: 0;
  }

  .header__theme-menu-list {
    margin-top: 45px;
    padding-right: 0;
    gap: 12px;
  }

  .header__title {
    margin-top: 70px;
    line-height: 82.5%;
  }

  .header__text {
    width: 100%;
    margin-top: 55px;
  }

  .header::after {
    left: 0;
    bottom: 0px;
  }

  .main__sections {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    gap: 50px;
  }

  .text__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .common-heading {
    width: 100%;
    padding-top: 2px;
  }

  .header {
    margin-bottom: 50px;
  }

  .site-heading {
    font-size: 116px;
  }

  .section-how {
    width: 100%;
  }

  .section__list {
    width: 100%;
  }

  .how__section-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .section__list-item-row {
    gap: 12px;
  }

  .section__list-item {
    gap: 10px;
  }

  .image__section {
    gap: 0;
  }

  .img__gallery {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  .img__gallery img:nth-child(4) {
    order: 2;
  }

  .img__gallery img:nth-child(5) {
    order: 1;
  }

  .footer::after {
    right: 0px;
    top: 10px;
  }

  .footer::before {
    left: 0;
    bottom: 10px;
  }
}

